.container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    width:80%;
    margin: auto;
    background-color: yellow;
}
p,h1{
    text-align: center;
}
ul{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap: wrap;
    list-style-type: none;
    width: 50%;
    margin:10px auto;
    // background-color: red;
}
input{
    display: block;
    width:60%;
    margin: auto;
    border-radius: 20px;
    font-size: larger;
    font-family:google,Georgia, 'Times New Roman', Times, serif;
}
button{
    border-radius: 10px;
    padding: 8px;
    display: block;
    margin: auto;
}