@import "../../styles.less";

h1{
    text-align: center;
}

.top-container-img{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;

    img{
        border-radius:20%;
        margin: 2px;
        opacity: 0.5;
    }
    :hover{
        opacity: 1.0;
    }

}

.info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    h1{
        text-align: center;
        font-size: larger;
    }
    p{
        text-align: center;
        width: 50%;
        margin: auto;
        font-size: small;
    }
}

.container_second{
    display: grid;
    grid-template-columns: 70%  30%;
    width: 90%;
    margin: auto;
    .first{
        width: 100%;
        img{
            width:100%;
        }
    }
}
.second{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(70, 224, 134);
    h1{
        font-size:larger;
    }
    p{
        width: 50%;
        font-size: larger;
        text-align: center;
    }
}


@media screen and (max-width:768px){
    .info{
        flex-direction: column;
        margin: none;
        h1{
            font-size:smaller;
        }
    }
    .container_second{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        .first{
            width: 100%;
            img{
                width:100%;
            }
        }
    }
    .second{
        p{
            width: 80%;
            font-size: medium;
            text-align: center;
        }
    }
}