<h1>I'm About!</h1>

<div class="top-container-img">
    <img src="../../assets/about/1.jpg" alt="img1" srcset="">
    <img src="../../assets/about/2.jpg" alt="img2" srcset="">
    <img src="../../assets/about/3.jpg" alt="img3" srcset="">
    <img src="../../assets/about/4.jpg" alt="img4" srcset="">
    <img src="../../assets/about/5.jpg" alt="img5" srcset="">
</div>

<div class="info">
    <h1>Encuentra tu cesta de frutas y verduras</h1>
    <p>De fruta y verdura, solo fruta, fruta y ensalada,
    especial para niños, gourmet… Disponemos de cestas que se adaptan a tus gustos,
    necesidades y estilo de vida. La mejor manera de que tu familia y tú os alimentéis de forma sabrosa y saludable.</p>
</div>

<div class="container_second">
    <div class="first">
        <img src="../../assets/about/online.jpg" alt="" srcset="">
    </div>
    <div class="second">
        <h1>Mucho más que un huerto</h1>
        <p>Fruta y verdura directa del huerto acompañada de alimentos ecológicos
        para hacer las delicias de toda la familia. 
        Todo entregado en tu casa regularmente.
        Saludable, sabroso y ¡muy, muy fácil!
        </p>
    </div>
</div>
