@import "../../styles.less";

.principal{
    width: 100%;
    font-size: @font-size-other;
}
h1{
    text-align: center;
}
.container{
    .flex_row();
    justify-content:center;
    width: 60%;
    margin: auto;

    .item{
        position: relative;
        .item_img{
            width: 100%;
            height:auto;
            border-radius: 25px;
        }
        .header_first{
            background-color: white;
            position: absolute;
            top: 0px;
            padding: 4px;
            font-size: @font-size-devices;
        }
        .header_second{
            background-color: white;
            position: absolute;
            bottom: 0px;
            padding: 4px;
            font-size: @font-size-devices;
        }
    }
}