h1{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    width: 50%;
    margin: auto;

    .item_img{
        border-radius: 25px;
        margin: 4px;
    }
}